/target
/jos/target
*.prefs
org.eclipse.jdt.core.prefs
/jos/.idea
compiler.xml
/test-output
/jos/test-output
*.idea/*
*.iml
*.out
*.h
/.idea/
/build/
/gradle/
/src/test/resources/.idea/
/.classpath
/.project
/src/main/java/jos.ucls
